<!DOCTYPE html>
<html>
    <head>
        <title>Super Secret Message Service</title>
        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <style>
            body {
                font-size: 1.2rem;
                font-family: Arial, Helvetica, sans-serif;
            }
            h1 {
                margin: 4px 0;
            }
        </style>
        <meta http-equiv="Refresh" content="0; url='/view?id={{ .ID }}'" />
    </head>
    <body>
        <h1>Super Secret Message Service</h1>
        <p>Your message has been created. Click the link below, or you will
        be redirected shortly.</p>
        <p><a href="/view?id={{ .ID }}">Public Link</a></p>
        <hr>
        <p><a href="/">Home</a></p>
    </body>
</html>
